<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLodge</title>
</head>
<body>
    <h3>Create a New Listing</h3>
    <form method ="Post" action = "/listings">
        <input name=listing[title] placeholder="enter title"><br><br>
        <textarea name= listing[description] placeholder="write description" rows="5" cols="25" ></textarea><br><br>
        <input name=listing[image] placeholder="enter URL"><br><br>
        <input name=listing[price] placeholder="enter price"><br><br>
        <input name=listing[location] placeholder="enter location"><br><br>
        <input name=listing[country] placeholder="enter country"><br><br>
        <button>ADD</button>
    </form>
</body>
</html>